.main-page {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}


.button-style {
  padding: 1.5rem;
  font-size: 2rem;
  background-color: rgb(0, 76, 151);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  line-height: normal;
  color: white;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 75px
  }
  
  .button-style:hover {
    background-color: #0077cc;
  }
  
  .button-style:active {
    background-color: #0077cc;
  }
  