.connect-button {
    padding: 0.5rem;
    /* padding: 10px 20px; */
    font-size: 1.5rem;
    background-color: rgb(0, 76, 151);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    line-height: normal;
    color: white
  }